.faq {
  padding-bottom: clamp(60px, 9.028vw, 130px);

  &__wrapp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 50px;
  }

  &__questions {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 25px;
  }

  &__questions-item {
    padding: 27px 45px;
    background-color: var(--color-white);
    border: 1px solid var(--color-middle-blue);
    border-radius: 20px;
  }

  &__question {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 10px;
    font-size: clamp(20px, 3.125vw, 24px);
    line-height: clamp(24px, 4.297vw, 33px);
    font-weight: 600;
    color: var(--color-black);
    transition: 0.3s ease;

    svg {
      flex-shrink: 0;
      fill: currentColor;
      transition: 0.3s ease;
    }

    &._active {
      color: var(--color-middle-blue);

      svg {
        transform: scale(-1);
      }
    }

    &:hover {
      color: var(--color-middle-blue);
    }
  }

  &__answer {
    padding-top: 25px;
    font-size: 18px;
    line-height: 27px;
  }
}
