.feedbacks {
  padding-bottom: clamp(60px, 9.028vw, 130px);

  &__wrapp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 50px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 45px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
  }

  &__more {
    font-size: 16px;
    line-height: 20px;
    color: rgba(51, 51, 51, 0.6);
    text-decoration-line: underline;
  }
}
