.hero {
  padding-bottom: 100px;

  &__wrapp {
    display: grid;
    grid-template-columns: 1fr clamp(485px, 45.161vw, 560px);
    align-items: flex-start;
  }

  &__left {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    grid-gap: clamp(40px, 5.903vw, 85px);

    @media screen and (max-width: 1240px) {
      grid-gap: 40px;
    }
  }

  &__info {
    max-width: 490px;

    @media screen and (max-width: 1240px) {
      max-width: 420px;
    }
  }

  &__info-head {
    margin-bottom: 15px;
    font-family: var(--font-family-gogol);
    font-size: 35px;
    line-height: 52px;
  }

  &__title {
    margin-bottom: 30px;
    font-family: var(--font-family-neutralface);
    font-size: 45px;
    font-size: clamp(40px, 3.125vw, 45px);
    line-height: clamp(60px, 5vw, 72px);
    // line-height: 72px;
    text-transform: uppercase;
  }

  &__descr {
    max-width: 415px;
    font-size: 22px;
    line-height: 33px;
  }

  &__movies {
    margin-bottom: -35px;
    max-width: 560px;
    width: 100%;
    background-color: #3F3F3F;
  }

  &__movies-divider {
    display: flex;
    padding: 3px 0;
  }

  &__slider {
    width: 100%;
  }

  &__slider-wrapper {
    transition-timing-function: linear !important;
  }

  &__slider-slide {
    max-width: 88px;
    width: 100%;
    display: flex;
    justify-content: center;

    picture,
    img {
      width: 100%;
      border-radius: 5px;
    }
  }

  &__right {
    position: relative;
  }

  &__image {
    display: flex;

    picture,
    img {
      border-bottom-left-radius: 40px;
    }
  }

  &__link {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--color-white);
    margin-left: -60px;
    transition: all 0.4s ease;

    span {
      border: 1.5px solid var(--color-middle-blue);
      transition: all 0.4s ease;
    }

    &:hover {
      background-color: #FA9CCA;

      span {
        border: 1.5px solid transparent;
        background-color: #FA9CCA;
        color: var(--color-white);
      }
    }

  }
}
