.services {
  padding-bottom: clamp(60px, 9.028vw, 130px);

  &__wrapp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 50px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
  }
}
