.subscribe {
  padding-bottom: clamp(60px, 9.028vw, 130px);

  &__wrapp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 50px;
  }

  &__bg {
    display: flex;
    max-width: 998px;
    width: 100%;

    picture,
    img {
      width: 100%;
      border-radius: 30px;
    }
  }

  &__title {
    max-width: 665px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 20px;
  }

  &__link {
    transition: all 0.4s ease;

    span {
      border: 1.5px solid var(--color-middle-blue);
      transition: all 0.4s ease;
    }

    &:hover {
      background-color: #F8E5A4;

      span {
        border: 1.5px solid transparent;
        background-color: #F8E5A4;
      }
    }
  }
}
