.subscribe {
  padding-bottom: clamp(60px, 9.028vw, 130px);

  &__wrapp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // grid-gap: 50px;
  }

  &__bg {
    display: flex;
    max-width: 998px;
    width: 100%;
    margin-bottom: 40px;

    picture,
    img {
      width: 100%;
      border-radius: 30px;
    }
  }

  &__title {
    margin-bottom: 30px;
    max-width: 665px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 30px;

    svg {
      -moz-animation: bounce 2s infinite;
      -webkit-animation: bounce 2s infinite;
      animation: bounce 2s infinite;
    }
  }

  &__link {
    transition: all 0.4s ease;

    span {
      border: 1.5px solid var(--color-middle-blue);
      transition: all 0.4s ease;
    }

    &:hover {
      background-color: #F8E5A4;

      span {
        border: 1.5px solid transparent;
        background-color: #F8E5A4;
      }
    }
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
