<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="Description" content="default">
  <title>Tatiana English</title>
  <!-- <link href="img/fav.png" rel="icon"/> -->
  <link rel="preload" href="fonts/Gogol-Regular.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/NeutralFace-Regular.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Manrope-Regular.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Manrope-Medium.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Manrope-SemiBold.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Manrope-Bold.woff2" as="font" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
</head>
