.feedback {
  display: flex;
  width: 100%;
  border-radius: 20px;

  picture,
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    // border: 1.5px solid var(--color-middle-blue);
  }
}
