.link {
  width: 153px;
  height: 153px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family-manrope);
  font-size: 17px;
  line-height: 26px;
  font-weight: 600;
  color: var(--color-black);
  text-transform: uppercase;

  span {
    width: 137px;
    height: 137px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid transparent;
  }
}
