.service {
  height: 100%;
  border: 1.5px solid var(--color-middle-blue);
  border-radius: 20px;
  padding: clamp(30px, 2.344vw, 45px) clamp(20px, 1.823vw, 35px) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 20px;

  &__info {
    flex-grow: 1;

    @media screen and (max-width: 1240px) {
      width: 100%;
    }
  }

  &__count {
    margin-bottom: 20px;
    width: 40px;
    border-radius: 40px;
    font-size: 17px;
    line-height: 23px;
    font-weight: 500;
    color: var(--color-gray);
    text-align: center;
  }

  &__title {
    margin-bottom: 15px;
    font-size: clamp(18px, 1.389vw, 20px);
    line-height: clamp(24px, 2.083vw, 30px);
    font-weight: 600;
    color: var(--color-dark-charcoal);
  }

  &__link {
    position: relative;
    margin-bottom: -75px;
    text-align: center;
    color: var(--color-dark-charcoal);
    transition: all 0.4s ease;
    z-index: 2;

    span {
      border: 1px solid transparent;
      transition: all 0.4s ease;
    }
  }
}
