.title {
  font-family: var(--font-family-neutralface);
  font-size: 45px;
  line-height: 72px;
  text-transform: uppercase;
}

.subtitle {
  font-family: var(--font-family-neutralface);
  font-size: 40px;
  line-height: 60px;
  text-transform: uppercase;
}
