:root {
  /* -- Fonts --*/
  --font-family-gogol: "Gogol", sans-serif; // var(--font-family-gogol);
  --font-family-neutralface: "NeutralFace", sans-serif; // var(--font-family-neutralface);
  --font-family-manrope: "Manrope", sans-serif; // var(--font-family-manrope);

  /* -- Colors --*/
  --color-white: #fff; // var(--color-white);
  --color-black: #000; // var(--color-black);
  --color-dark-charcoal: #333333; // var(--color-dark-charcoal);
  --color-gray: #4F4F4F; // var(--color-gray);
  --color-grey: #F5F5F5; // var(--color-grey);
  --color-purple: #fb60e6; // var(--color-purple);
  --color-pink: #FA9CCA; // var(--color-pink);
  --color-middle-blue: #7F7DBE; // var(--color-middle-blue);


}








